# EditorConfig is awesome: http://EditorConfig.org

# Create portable, custom editor settings with EditorConfig
# https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options

# .NET coding convention settings for EditorConfig
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference?view=vs-2019

# Language conventions
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019

# Formatting conventions
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-formatting-conventions?view=vs-2019

# .NET naming conventions for EditorConfig
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-naming-conventions?view=vs-2019

# Top-most EditorConfig file
root = true

# Editor default newlines with a newline ending every file
[*]
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.json]
insert_final_newline = false

[*.cs]
indent_size = 4

# Do not insert newline for ApiApprovalTests
[*.txt]
insert_final_newline = false
